@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This web application was designed as a secure and easy way to quickly check C# code for common vulnerabilities. The use of this website is restrictied to users with accounts due to the potential for mallicious behaviour with the uploading of code files and snippets.

    This website puts its users first and does so by not retaining any potential code once it has been reviewed as well as securing user accounts with minimal information and making use of auto generated usernames from emails
</p>

<br />
<br />
<h3>How to use this web application</h3>
<p>
    To first use the web application a user must first registair an account and then login their account.

    From there they will have acess to the index page and will see a file upload or a text box. Users will submit EITHER a .cs code file or a code snippet. Users cannot submit both!

    The system will analyse the code for built in known securities and provide users with a report at the end with a selection of the lines of code that are vunerable and a security rating
</p>
<br />
<br />
<h3>Useage Policy</h3>
<p>
    This website may be used by individuals or corporate organizations to test code snippets. This is possible due to the code snippets not being retained.

</p>