@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Organization and Support Contacts</h3>

<address>
    Cowcaddens Rd<br />
    Glasgow, G4 0BA<br />
    <abbr title="Phone">P:</abbr>
    +44 (0)141 331 3000
</address>

<address>
    <strong>Website Technical Support:</strong> <a href="mailto:dmcall200@caledonian.ac.uk">dmcall200@caledonian.ac.uk</a><br />
    <strong>GCU Email Enquiries:</strong> <a href="mailto:ukroenquiries@gcu.ac.uk">ukroenquiries@gcu.ac.uk</a>
</address>
