@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<br />
<br />
<p>This website does not retain code submitted and keeps all personal data to a minimum.</p>
<br />
<p>Any issues should be relayed to the orginization or support team through the approved contact methods on the contact page.</p>
<br />
<br />
<p>Any mallicious or security risk actions by an individual at any time will result in full removal of acess to the website as well as possible legal action</p>
<br />
<p>Use of this website agrees to the terms of this policy as well as the cookie policy regardless of acceptance of not.</p>


